body{
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#headerDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #cedebd;
    align-items: center;
    font-size: 20px;
    padding: 0px 10px;
}

#logoutButton{
    height: 40px;
    width: 100px;
    background: #411f1f;
    /* border-width: 0px; */
    border: 1px solid #411f1f;
    border-radius: 4px;
    font-size: 15px;
    padding: 0px;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    color: white;
}

#pageContentsDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

#roomRelatedDiv{
    display: flex;
    flex-direction: column;
}

#roomsDiv{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    background: #f3f3f3;
}

#createRoomDiv{
    display: flex;
    flex-direction: column;
}

#messagingDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

#messagingDivPlaceholder{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#messagesDiv{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

#messageTextInput{
    width: 100%;
}

#sendMessageDiv{
    display: flex;
    justify-content: flex-end;
}

.room{
    display: flex;
    border: 1px solid;
    background-color: bisque;
}

#messageTextInput{
    height: 40px;
    border-radius: 4px;
    border: 1px solid #86c4ba;
    outline: none;

}