<html>

<head>

</head>

<body>
    <h1>Welcome home</h1>
    <button id="logoutButton">Log out</button>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/scripts/auth.js"></script>


</html>