<html>
<template id="roomTemplate">
    <div class="room">
        <p id="roomTitle" class="roomTitleP"></p>
    </div>
</template>

<template id="messageTemplate">
    <div class="message">
        <p class="messageFrom"></p>
        <p class="messageContent"></p>
    </div>
</template>

<head>
    <script src="./scripts/constants.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="./styles/home.css">
</head>

<body>
    <div id="headerDiv">
        <p>Welcome <%=email%></p>
        <button id="logoutButton">Log out</button>
    </div>
    <div id="pageContentsDiv">
        <div id="videocall">
            <video autoplay class="remote-video" id="remote-video"></video>
            <video autoplay muted class="local-video" id="local-video"></video>
            <p id="comingCallInfo"></p>
            <button id="acceptCall" style="display: none;">accept call</button>
        </div>
        <div id="messagingDivPlaceholder">
            Choose a chat room...
        </div>
        <div id="messagingDiv" style="display: none;">
            <div id="messagingHeaderDiv">
                <p id="messagingRoomTitle"></p>
                <button id="sendCallRequestButton">Call</button>
            </div>
            <div id="messagesDiv">

            </div>
            <div id="sendMessageDiv">
                <input type="text" placeholder="Your message text..." id="messageTextInput">
                <input type="file" id="messageFileInput">
                <button id="sendMessageButton">Send</button>
            </div>
        </div>
        <div id="roomRelatedDiv">
            <div id="roomsDiv">

            </div>
            <div id="createRoomDiv">
                <input type="text" id="newRoomTitle" placeholder="room title">
                <input type="text" id="newRoomParticipants" placeholder="email1@example.com;email2@example.com;...">
                <button id="createRoomButton">Create Room</button>
            </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>

<script src="/scripts/auth.js"></script>
<script src="/scripts/communication.js"></script>
<script>
    window.onload = () => {
        createSocketConnection()
        setAuthButtonActions()
        setCommunicationButtonActions()
    }
</script>



</html>