<html>

<head>
    <script src="/socket.io/socket.io.js"></script>

</head>

<body>
    <h1>Welcome home</h1>
    <button id="logoutButton">Log out</button>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>

<script src="/scripts/auth.js"></script>
<script src="/scripts/communication.js"></script>
<script>createSocketConnection()</script>


</html>