<html>

<head>
</head>

<body>
    <div id="signupDiv">
        <p id="signupHeader">SIGN UP</p>
        <input type="text" placeholder="username" id="signupUsername">
        <input type="text" placeholder="email" id="signupEmail">
        <input type="text" placeholder="password" id="signupPassword">
        <button id="signupButton">Sign Up!</button>
    </div>
    <div id="loginDiv">
        <p id="loginHeader">LOG IN</p>
        <input type="text" placeholder="email" id="loginEmail">
        <input type="text" placeholder="password" id="loginPassword">
        <button id="loginButton">Login!</button>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>
<script src="/scripts/auth.js"></script>
<script>
    window.onload = setAuthButtonActions
</script>

</html>