<html>

<head>
    <script src="./scripts/constants.js"></script>
    <link rel="stylesheet" href="./styles/index.css">
</head>

<body>
    <div id="bodyContentWrapper">
        <div id="loginDiv">
            <p id="loginHeader">LOG IN</p>
            <input type="text" placeholder="email" id="loginEmail">
            <input type="password" placeholder="password" id="loginPassword">
            <button id="loginButton">Login!</button>
        </div>
        <div id="signupDiv">
            <p id="signupHeader">SIGN UP</p>
            <input type="text" placeholder="username" id="signupUsername">
            <input type="text" placeholder="email" id="signupEmail">
            <input type="password" placeholder="password" id="signupPassword">
            <button id="signupButton">Sign Up!</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</body>
<script src="/scripts/auth.js"></script>
<script>
    window.onload = setAuthButtonActions
</script>

</html>