<html>

<head>
</head>

<body>
    <h2>Log in</h2>
    <form>
        <label for="emailL">email: </label>
        <input type="text" id="emailL"><br>
        <label for="passwordL">password: </label>
        <input type="text" id="passwordL"><br>
    </form>
    <button id="loginButton">Login</button><br><br>
    <h2>Sign up</h2>
    <form>
        <label for="emailS">email: </label>
        <input type="text" id="emailS"><br>
        <label for="passwordS">password: </label>
        <input type="text" id="passwordS"><br>
        <label for="usernameS">username: </label>
        <input type="text" id="usernameS"><br><br>
    </form>
    <button id="signupButton">Sign up</button><br><br>


    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>
<script src="/scripts/auth.js"></script>
<script>
    window.onload = setAuthButtonActions
</script>

</html>